/* css/style.css */
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: bisque;
}

h1, h2 {
    color: #333;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 10px;

}

video {
    border: 2px solid #ccc;
    margin: 10px 0;
    border: 3px solid black;
    border-radius: 15px;
    background-color: #3d3a3a;
}

.main{
    display: flex;
    flex-direction:  row;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
    margin-top: -7rem;
}

.testing, .training, .data-collection{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}



#hidden-button{
    background-color: greenyellow;
}